header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
  }
  
 header h1 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

  
  .icon {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon a {
    color: #fff;
  }
  
  .icon svg {
    width: 2em;
    height: 2em;
    fill: #fff;
  }
  
  .icon a:hover svg {
    fill: #f00; /* change color on hover */
  }
  