

.yosemite {
    width:30%;
            height:30%;
}


  

.icon { /* this is for the favicons */
  width: 2em;
  height: 2em;
  vertical-align: -0.125em;
  display:flex;
  text-align: right;
}


  .darkblue {
    color:white;
    background-color: darkolivegreen;


  }

  .purple {
    color:white;
    background-color:	rgb(52,61,70);

  }

  
  blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
      margin: 0;
  }

  .text-base {
      font-size: 1rem;
      line-height: 1.5rem;
  }

 
  .self-center {
    align-self:center;
  }

  .mx-auto {
      margin-left: auto;
      margin-right: aut
      
  }

  .contacticons {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin:0;
    
  }

  /* makes header as a row instead of columns */
  .navbar-nav {
    list-style-type: none; /* remove bullet points */
    
    display:inline-block;
  }
  .navbar-nav li {
    display: inline; /* make list items display in a line */
  }
  header {
    background-color: #333;
  }

  .nav-item {
    display:inline;
  }

  body {
    font-family: 'Poppins', sans-serif;
    
  }
   
  img {
    max-width: 100%;
    height: auto;
  }

  /* used for adjusting size for mobile devices */
  @media (max-width: 768px) {
    .display-1 {
      font-size: 2.5rem;
    }
    .display-4 {
      font-size: 1.2rem;
    }
  }
  
  
